<!doctype html>
<html lang="en">
    <%- include('./includes/head.ejs', { title : title}) %>
    <body>
        <h1><%= title %></h1>
        <p><%= message %></p>
        <script src="./js/main.js"></script>
    </body>
    <%- include('./includes/footer.ejs') %>
</html>
